<div class="form-box login">
    <div class="form-details">
        <h2>Hoşgeldiniz</h2>
        <p>Enfes yemek tariflerine ulaşmak için giriş yapın.</p>
    </div>
    <div class="form-content">
        <h2>GİRİŞ YAP</h2>
        @using (Html.BeginForm("Login", "Kullanici", FormMethod.Post))
        {
        @model Ahtapot_Recipe.ViewModel.LoginViewModel;
            <div class="input-field">
                @Html.EditorFor(m => m.Eposta)
                <label>Email</label>
            </div>
            <div class="input-field">
                @Html.EditorFor(m => m.Sifre)
                <label>Şifre</label>
            </div>
            <a href="#" class="forgot-pass-link">Şifrenizi mi unuttunuz?</a>
            <button type="submit">Giriş Yap</button>
        }
        <div class="bottom-link">
            Hesabınız yok mu?
            <a href="#" id="signup-link">Kayıt Ol</a>
        </div>
    </div>
</div>