<div class="form-content">
    <h2>KAYIT OL</h2>
    <form method="Post" action="Kullanici/Post">
        <div class="input-field">
            <input type="text" required>
            <label>İsim girin</label>
        </div>
        <div class="input-field">
            <input type="text" required>
            <label>Soyisim girin</label>
        </div>
        <div class="input-field">
            <input type="text" required>
            <label>Email adresinizi girin</label>
        </div>
        <div class="input-field">
            <input type="password" required>
            <label>Şifre oluşturun</label>
        </div>
        @* <div class="policy-text">
            <input type="checkbox" id="policy">
            <label for="policy">
                Okudum ve kabul ediyorum
                <a href="#" class="option">Şartlar & Koşulları</a>
            </label>
        </div> *@
        <button type="submit">Kayıt Ol</button>
    </form>
    <div class="bottom-link">
        Hesabınız var mı?
        <a href="#" id="login-link">Giriş Yap</a>
    </div>
</div>