<!DOCTYPE html>
<html lang="en">
 @{Layout=null;}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="style.css">
    <title>İletişim</title>
</head>

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
 
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    height: 4rem;
}
 
.logo {
    font-size: 2rem;
}
 
nav {
    width: 30rem;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
 
nav ul li a {
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
 
nav ul li a:hover {
    background-color: #0dac30;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reachUs-button {
    padding: 1rem;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.reachUs-button:hover{
    background-color: #1ac840;
}
 
/* banner section styles */
.banner {
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
}
 
.banner img {
    max-width: 100%;
    height: auto;
}
/* Contact form styles */
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
 
/* Contact info styles */
.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contact-info h2 {
    margin-bottom: 20px;
}
 
/* Footer styles */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
/* Hamburger styles */
.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}
 

 
    .hamburger {
        display: flex;
    }
 
    #nav-menu {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }
 
    #nav-menu.active {
        display: block;
        flex-direction: row;
        padding: 1rem;
    }
}
</style>
 
<title>İletişim</title>

<body>
    <header>
        </button>
        <div class="logo">Ahtapot Yemek Tarifleri</div>
    </header>
 
    <section class="banner">
        <img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20230822131732/images.png"
            alt="Welcome to our Contact Us page">
        <h1>Bizimle İletişime Geçin</h1>
        <p>
          Aklınıza takılan her türlü soruyu yanıtlamak için buradayız.
          </p>
    </section>
 

    <section class="contact-form">
        <div class="form-container">
            <h2>Bilgileriniz</h2>
            <form action="#" method="POST">
 
                <label for="name">İsim Soyisim: </label>
                <input type="text" id="name" name="name" required>
 
                <label for="email">Eposta: </label>
                <input type="email" id="email" name="email" required>
 
                <label for="phone">Telefon: </label>
                <input type="tel" id="phone" name="phone">
 
                <label for="message">Mesaj: </label>
                <textarea id="message" name="message" rows="4" required></textarea>
 
                <button type="submit" class="submit-button">Gönder</button>
            </form>
        </div>
    </section>
 
    <section class="contact-info">
        <h2>İletişim Bilgileri</h2>
        <address>
            Ahtapot<br>
            Ankara Yenimahalle<br>
            Telefon <a href="tel:1234567890">053178965444</a><br>
            Email: <a href="mailto:info@example.com">info@ahtapot.com</a>
        </address>
    </section>
 
    <!-- Footer section -->
    <footer>
        <p>
          © 2024 Taha Kerem DAŞDEMİR Tüm Hakları Saklıdır.
          </p>
    </footer>
    <script src="script.js"></script>
</body>
 
</html>